*{
    background-image: url(https://i.pinimg.com/736x/27/fc/08/27fc08cfc5242cae8d0ee8582c490498.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: sans-serif;
    color: rgb(7, 72, 194);
    text-decoration: underline;
}
